<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
            <br>
            <div class="alert alert-info" role="alert">
                Your project is empty. You need to create at least one source type
                and add it to project.
            </div>
	</div>
	<div class="col-md-2"></div>
</div>
