<div class="epoch-theme-default">
  <div id="barChart"  class="epoch category20c" style="width: 1450px; height: 60px"></div>
</div>
<script>
var barChartData = [
// First series
{
  label: "PerSecond",
  values: [
  {time: 1370044800, y: 100},
  {time: 1370044801, y: 135},
  {time: 1370044801, y: 123},
  {time: 1370044802, y: 78},
  ]
  },
];
var chart = $('#barChart').epoch({
  type: 'time.bar',
  data: barChartData,
  axes: [],
  windowSize: 100
});
setInterval(function(){
  var r = Math.floor((Math.random() * 100) + 20);
  chart.push([{y: r}]);
},1000);
</script>

<div id="logTableContainer">
  {{if .total}}
    {{template "home/table" .}}
  {{else}}
    {{template "home/no_records"}}
  {{end}}
</div>

<!-- begin view log record modal -->
<div class="modal modal-wide" id="viewRecordModal" tabindex="-1" role="dialog" aria-labelledby="RecordView" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Event view</h4>
        <span id="recordViewLabel" class="label label-default"></span>
        <span id="recordViewDateTime" class="label label-default"></span>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a type="button" class="btn btn-danger">Delete</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<!-- Live logs template -->
<div id="liveLogsContainer" style="display:none;">
  <div class="messages"></div>
</div>
<!-- End live logs template -->
