{{template "base/head" .}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 main">
        <div class="table-responsive">
          <table id="logstable" class="table table-striped">
              <tbody>
                {{range .logs}}
                  <tr>
                    <td style="min-width:160px;width:160px;">{{.Source.datetime | FormatTimeToHuman}}</td>
                    <td>
                      <a href="/view/?type={{.Type}}&id={{.Id}}" class="view">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </a>
                      {{.Source.message}}
                    </td>
                  </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        {{if .pagination.HasPages}}
        <nav id="pagination">
          <ul class="pagination pagination-sm">
            {{.pagination.Render}}
          </ul>
        </nav>
        {{end}}
      </div>
    </div>
  </div>
{{template "base/footer" .}}

<!-- begin view log record modal -->
<div class="modal fade" id="viewRecordModal" tabindex="-1" role="dialog" aria-labelledby="RecordView" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Record view</h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- end modal -->
