#liveLogsContainer {
	width: 100%;
	overflow: auto;

	p {
		margin: 0;
		padding: 0;
		font-size: 12px;
	}

	span.highlight {
		background-color: #ffe54d;
	}

	.type {
		padding-right: 5px;
	}

	&.dark {
		background: #002b36;
		color: #859900;
		.type {
			color: #268bd2;
		}
	}
}

#liveLogsSearch {
	position: fixed;
	float: auto;
	width: 300px;
	bottom: 0;
	width: 100%;
	background: #171717;
	padding: 3px;

	form {
		input[type=text] {
			background: transparent;
			border: 0;
			outline: none;
			width: 50%;
			color: #999999;
		}
	}
}