#liveLogsContainer {
	width: 100%;
	overflow: auto;

	p {
		margin: 0;
		padding: 0;
		font-size: 12px;
	}

	.type {
		padding-right: 5px;
	}

	&.dark {
		background: #002b36;
		color: #859900;
		.type {
			color: #268bd2;
		}
	}
}