.main {
  font-size: 12px;
}

#logstable td {
	word-wrap: break-word;
	font-size: 12px;
	vertical-align: text-top;
}

#logstable tr:hover td {
	cursor: pointer;
	background: #E3F2FD;
}

#pagination {
	margin-left: 10px;
}

.error {
	color: red;
}

.no-padding {
	padding: 0;
}

#time_start, #time_stop {
	width:130px;
	text-align: center;
	border:1px;
}

.timebox {
	display: none;
	border-bottom: 3px solid silver;
	outline: none;
}

h3 .actions {
	padding-right: 15px;
	padding-top: 5px;
	font-size:14px;
}

/* Bootstrap overrides */
.modal.modal-wide .modal-dialog {
  width: 950px;
}

.modal-wide .modal-body {
  overflow-y: auto;
}
.modal-backdrop {
	height: 100%;
	z-index: 1030;
}
