.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
	width:250px;
}

.main {
  margin-left: 250px;
  font-size: 13px;
}