.main {
  font-size: 12px;
}

#logstable td {
	word-wrap: break-word;
	font-size: 12px;
	vertical-align: text-top;
}

#logstable tr:hover td {
	cursor: pointer;
	background: #E3F2FD;
}

#pagination {
	position: fixed;
	bottom:-25px;
	left:40%;
}

.pagination {
	-webkit-box-shadow: 2px -1px 13px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px -1px 13px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px -1px 13px 0px rgba(50, 50, 50, 0.75);
}

.error {
	color: red;
}

.no-padding {
	padding: 0;
}

#time_start, #time_stop {
	width:130px;
	text-align: center;
}

.timebox {
	display: none;
	border-bottom: 3px solid silver;
	outline: none;
}
