.main {
  font-size: 12px;
}

#logstable td {
	word-wrap: break-word;
	font-size: 12px;
	vertical-align: text-top;
}

#logstable tr:hover td {
	cursor: pointer;
	background: #E3F2FD;
}

.error {
	color: red;
}