<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LogVoyage</title>
				<link href="/static/build/all.css" rel="stylesheet">

	</head>
	<body>
		<div style="text-align:center;margin-top:100px">
			Don't worry, all your logs are stored and will not be lost!
			<br/>
			We are working on it!
			<br>
			<br>
			<a href="/">Try again</a>
		</div>
	</body>
</html>