<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
            <br>
            <div class="alert alert-danger" role="alert">{{.message}}</div>
	</div>
	<div class="col-md-2"></div>
</div>
